[submodule "vendor/bundles/Ivory/GoogleMapBundle"]
	path = vendor/bundles/Ivory/GoogleMapBundle
	url = http://github.com/egeloen/IvoryGoogleMapBundle.git
[submodule "vendor/geocoder"]
	path = vendor/geocoder
	url = http://github.com/willdurand/Geocoder.git
[submodule "vendor/buzz"]
	path = vendor/buzz
	url = http://github.com/kriswallsmith/Buzz.git
