{% extends "ProyectoExtensionBundle::layout.html.twig" %}

{% block title %}Periodos{% endblock %}

{% block body %}
<h1>Crear Periodo</h1>

<form action="{{ path('periodo_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('periodo') }}">
            Volver a listado
        </a>
    </li>
</ul>
{% endblock %}
