{% block title "Hello " %}

{% block content %}
    {#- comment -#}
    {#{ google_map_css(map) }#}
    <h1>Google Maps</h1>  
    {{ google_map_container(map) }}
    {{ google_map_js(map) }}    
{% endblock %}

{% set code = code(_self) %}
