{% extends "ProyectoExtensionBundle::layout.html.twig" %}

{% block title %}Proyectos{% endblock %}

{% block body %}
<h1>Crear Proyecto</h1>

<form action="{{ path('proyecto_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('proyecto') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
